/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    height: 100vh;
  }
  
  /* Sidebar Styles */
  .sidebar {
    width: 250px;
    background: #007BFF;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebar h2 {
    margin: 0;
  }
  
  .sidebar .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px 0;
  }
  
  .sidebar nav a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    font-size: 1.2rem;
  }
  
  .sidebar nav a:hover {
    text-decoration: underline;
  }
  .nav{
    margin-top: 50px;

  }
  
  /* Main Content Styles */
  .main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }
  .about p{
    margin-top: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  .skills ul {
    list-style-type: none;
    padding: 0;
  }
  
  .skills li {
    background: #eee;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
  }
  
  /* Project Styles */
  .project {
    margin-bottom: 1rem;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .project:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  button {
    padding: 10px;
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background: #0056b3;
  }
  
  /* Hidden class */
  .hidden {
    display: none;
  }
  #contactForm{
    padding: 5px;
  }